
<style>
    .MasterContainer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
  margin-top: 50px;
}
.title {
  margin-bottom: 22px;
}
</style>
<div class="MasterContainer">
  <div>
    <h1 class="title">Auto Complete Search</h1>
    <form class="form">
      <div class="form-group">
        <input type="text" id="search" onkeyup="changeInput(this.value)" class="form-control form-control-lg" placeholder="Search">
        <div>
          <div id="result" class="list-group"></div>
    </form>
    </div>
    </div>

    <script>
var people = ['Jamila', 'Lakenya', 'Eulalia', 'Jules', 'Li', 'Titus', 'Marybelle', 'Loan', 'Rolland', 'Leisa', 'Noe', 'Elin', 'Bernice', 'Karly', 'Barton', 'India', 'Bradley', 'Rudolph', 'Cassandra', 'Vita', 'Justin', 'Edna', 'Scarlett', 'Rasheeda', 'Essie', 'Sabra', 'Eleanore', 'Christal', 'Moses', 'Rachelle', 'Shakira', 'Jona', 'Christa', 'Elaina', 'Frederica', 'Lashawn', 'Jody', 'Amanda', 'Marcellus', 'Rodney', 'Kenyatta', 'Maybell', 'Christel', 'Angle', 'Harris', 'Talia', 'Brendon', 'Reginald', 'Celestine', 'Etta'];

function matchPeople(input) {
  var reg = new RegExp(input.split("").join("\\w*").replace(/\W/, ""), "i");
  var res = [];
  if (input.trim().length === 0) {
    return res;
  }
  for (var i = 0, len = people.length; i < len; i++) {
    if (people[i].match(reg)) {
      res.push(people[i]);
    }
  }
  return res;
}

function changeInput(val) {
  var autoCompleteResult = matchPeople(val);
  document.getElementById("result").innerHTML = "";
  for (var i = 0, limit = 10, len = autoCompleteResult.length; i < len  && i < limit; i++) {
    document.getElementById("result").innerHTML += "<a class='list-group-item list-group-item-action' href='#' onclick='setSearch(\"" + autoCompleteResult[i] + "\")'>" + autoCompleteResult[i] + "</a>";
  }
}


function setSearch(value) {
  document.getElementById('search').value = value;
  document.getElementById("result").innerHTML = "";
}

        </script>
